.custom-bg {
  background-image: linear-gradient(to left, #3a7bd5, #3a6073);
}
.modalSizing {
  position: absolute;
  width: 40%;
  left: 30%;
}
.resizingModal {
  position: absolute;
  width: 40%;
  height: 90%;
  left: 30%;
}
