.iconResizing {
  margin-top: -8px;
}
.table tr.th-headerfix td,
.table th.th-headerfix {
  font-size: 0.8865rem;
  white-space: pre-wrap;
}
// .table td,
// .table th {
//   font-size: 1rem;
//   color: white !important;
// }
